[submodule "assignment1-embeddings"]
	path = assignment1-embeddings
	url = git@github.com:bhavik-knight/5511-a1-embeddings.git

[submodule "a2-rag"]
    path = a2-rag
    url = git@github.com:bhavik-knight/5511-a2-rag.git

[submodule "a3-nn-trasnformers"]
    path = a3-nn-transformers
    url = git@github.com:bhavik-knight/5511-a3-nn-transformers.git

[submodule "a4-brain-surgery"]
    path = a4-brain-surgery
    url = git@github.com:bhavik-knight/5511-a4-brain-surgery.git
